/* start variables */
:root {
  --main-color: #27ae60;
  --paddding: 80px;
}
/* end variables */

/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: #171717;
}
*::selection {
  background-color: white;
  color: var(--main-color);
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
html {
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.gridy {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 25px;
  grid-gap: 20px;
}
/* End Global Rules */
/* start header */
.header {
  padding-top: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.header .logo img {
  display: inline-block;
  /* height: 27px; */
  width: 15px;
}
.header .container .logo {
  position: relative;
}
/* .header .container .logo::before {
  content: "";
  width: 95%;
  height: 3px;
  position: absolute;
  background-color: #199e95;
  left: 14px;
  top: 0px;
  border-radius: 5px;
} */
.header .container .logo h3 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
  user-select: none;
}
.header .container nav ul {
  list-style: none;
  display: flex;
}
.header .container nav ul li {
  margin-left: 25px;
}
@media (max-width: 1000px) {
  .header .container nav ul li {
    margin-left: 10px;
  }
}
.header .container nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  transition-duration: 0.3s;
  padding: 5px;
}
.header .container nav ul li a:hover:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
  box-shadow: rgba(255, 255, 255, 0.952) px 10px 50px;
  width: 0;
  animation-name: fill;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  opacity: 0;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px,
    rgba(255, 255, 255, 0.3) 0px 7px 13px -3px,
    rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
}
.header .container nav ul li a:hover {
  color: #171717;
}
@keyframes fill {
  to {
    width: 100%;
    opacity: 1;
  }
}
.fa-bars {
  color: white;
  display: none;
}
@media (max-width: 768px) {
  .header .container nav {
    display: none;
  }
  .fa-bars {
    display: block;
    font-size: 20px;
    transition-duration: 0.3s;
  }
  .header .container .logo h3 {
    font-size: 25px;
  }
  .fa-bars:hover + nav {
    display: block;
    position: absolute;
    right: 10px;
    top: 75px;
  }
  nav ul {
    flex-direction: column;
    opacity: 0;
    animation-name: light;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    background-color: #171717;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.699);
    border-radius: 5px;
    border: 1px solid white;
  }
  nav ul li {
    padding: 15px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.507);
  }
  .fa-bars:hover {
    transform: rotate(90deg);
  }
  nav:hover {
    display: block !important;
    position: absolute;
    right: 10px;
    top: 75px;
  }
}
@keyframes light {
  to {
    opacity: 1;
  }
}

/* end header */
/* start landing */
.landing {
  padding-top: var(--paddding);
  padding-bottom: var(--paddding);
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing .container .col-2 img {
  width: 450px;
  border-radius: 50%;
}
.landing .container .col-2 {
  position: relative;
}
.landing .container .col-2::before {
  content: "";
  width: 110%;
  height: 110%;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #202020 #202020 #202020 transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation-name: opac;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes opac {
  to {
    opacity: 1;
  }
}
.landing .container .col-1 .text h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 62px;
  color: #ffffff;
  margin: 0;
}

.landing .container .col-1 .text p {
  font-size: 18px;
  color: #828282;
  margin-top: 5px;
  margin-bottom: 45px;
}
.landing .container .col-1 .links a {
  padding: 10px 25px;
  text-decoration: none;
  color: white;
  transition-duration: 0.3s;
  display: inline-block;
}
.landing .container .col-1 .links a:first-child {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  margin-right: 10px;
}

.landing .container .col-1 .links a:nth-child(2) {
  border: 1px solid white;
}
.landing .container .col-1 .links a:hover {
  box-shadow: rgba(255, 255, 255, 0.904) 0px 0px 10px;
}
@media (max-width: 993px) {
  .landing .container .col-1 .text {
    text-align: center;
  }
  .landing .container .col-1 .text h1 {
    line-height: inherit;
  }
  .landing .container .col-1 .links {
    text-align: center;
  }
  .landing .container .col-1 .links a:first-child {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
@media (max-width: 800px) {
  .landing .container {
    flex-direction: column;
  }
  .landing .container .col-1 {
    margin-bottom: 100px;
  }
  .landing .container .col-2::before {
    width: 105%;
    height: 105%;
  }
  .landing .container .col-2 img {
    max-width: 100%;
  }
  .landing .container .col-1 .links a:first-child {
    margin-right: 05px;
  }
}
/* end landing */
/* start about */
.about {
  padding-top: var(--paddding);
  padding-bottom: var(--paddding);
}
.about .container > .text {
  text-align: center;
}
.about .container > .text h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #ffffff;
  margin-bottom: 30px;
}
.about .container > .text p {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  max-width: 700px;
  color: #ffffff;
  margin: auto;
}

.about .container .boxes {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  text-align: center;
}
.about .container .boxes .box {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}
.about .container .boxes .box span {
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  display: block;
  margin: auto;
  border-radius: 50%;
  outline: 20px solid #212121;
  margin-bottom: 35px;
  position: relative;
  top: -100%;
}
.about .container .boxes .box .text:hover + span:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #212121;
  bottom: 0;
  left: 0;
  z-index: 1;
  border-radius: 50%;
  outline-style: solid;
  outline-color: var(--main-color);
  outline-width: 0;
  animation-name: outline;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes outline {
  to {
    outline-width: 20px;
  }
}
.about .container .boxes .box .text h5 {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}
.about .container .boxes .box .text a {
  text-decoration: none;

  display: block;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  transition-duration: 0.3s;
  position: relative;
  width: fit-content;
  margin: auto;
}
.about .container .boxes .box .text a:hover {
  color: var(--main-color);
  text-shadow: 0px 0px 6px #27ae60;
  transform: scale(1.02);
}
.about .container .boxes .box .text a:hover:before {
  width: 0%;
  height: 2px;
  content: "";
  position: absolute;
  bottom: -6px;
  background-color: white;
  animation-name: full;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes full {
  to {
    width: 100%;
  }
}
.about .container .boxes .box .text p {
  margin-top: 10px;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}
/* end about */
/* start services */
.services {
  padding-top: var(--paddding);
  padding-bottom: var(--paddding);
}
.services .container {
  text-align: center;
}
.services .container h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #ffffff;
  margin-bottom: 50px;
}
.services .container .boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .container .boxes .box {
  width: 300px;
  padding: 30px;
  text-align: left;
  background-color: #212121;
  margin: 30px auto;
  user-select: none;
  position: relative;
}
.services .container .boxes .box i {
  font-size: 45px;
  color: var(--main-color);
  margin-bottom: 25px;
}
.services .container .boxes .box p {
  display: block;
  font-weight: 500;
  font-size: 36px;
  color: #535353;
}
.services .container .boxes .box:hover:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #27ae5fa9;
  animation-name: circle-fill;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation: circle-fill 0.6s forwards, shadow 0.1s 0.5s forwards;
  /* border-radius: 50%; */
  z-index: -1;
  width: 0%;
  height: 100%;
  /* animation: ; */
}
@keyframes shadow {
  to {
    box-shadow: 0 0 15px var(--main-color);
  }
}
.services .container .boxes .box:hover {
  background-color: transparent;
}
.services .container .boxes .box:hover i {
  color: #212121 !important;
}
.services .container .boxes .box:hover p {
  color: #212121 !important;
}
@keyframes circle-fill {
  to {
    border-radius: 0%;
    width: 100%;
    height: 100%;
  }
}
/* end services */
/* start skills  */
.skills {
  padding-top: var(--paddding);
  padding-bottom: var(--paddding);
}
.skills .container {
  text-align: center;
}
.skills .container h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #ffffff;
  margin-bottom: 70px;
}
.skills .container .boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #212121;
}
@media (max-width: 1000px) {
  .skills .container .boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  .skills .container .boxes {
    grid-template-columns: repeat(1, 1fr);
  }
}
.skills .container .boxes .box {
  padding: 50px;
  user-select: none;
}
.skills .container .boxes .box h1 {
  margin: 0;
  font-weight: bold;
  font-size: 72px;
  line-height: 94px;
  color: #4f4f4f;
}
.skills .container .boxes .box p {
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #27ae60;
}
/* end skills  */
/* start work  */
.work {
  padding-top: var(--paddding);
  padding-bottom: var(--paddding);
}
.work .container {
  text-align: center;
}
.work .container h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #ffffff;
  margin-bottom: 70px;
}
.work .container .boxes .box {
  position: relative;
  width: 250px;
  overflow: hidden;
  border-radius: 6px;
}
.work .container .boxes .box img {
  max-width: 100%;
  z-index: 1;
  transition-duration: 0.3s;
  overflow: hidden;
}
.work .container .boxes .box a {
  position: relative;
  display: block;
}
.work .container .boxes .box i {
  font-size: 30px;
  opacity: 0;
  transition-duration: 0.2s;
  color: var(--main-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.486);
  display: flex;
  justify-content: center;
  align-items: center;
}
.work .container .boxes .box img:hover + i {
  opacity: 1;
}
.work .container .boxes .box i:hover {
  opacity: 1;
}
.work .container .boxes .box > h4 {
  font-size: 17px;
  opacity: 1;
  transition-duration: 0.3s;
  margin-top: 0px;
  color: white;
  font-weight: normal;
  background-color: #212121;
  padding: 4px;
}
.work .container .boxes .box:hover > h4 {
  opacity: 1;
}
.work .container .boxes .box:hover img {
  transform: scale(1.05);
}
.work .container .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.work .container .box {
  margin: 40px auto;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;
}
/* end work  */
/* start contact */
.contact {
  padding-top: var(--paddding);
  padding-bottom: var(--paddding);
}
.contact {
  text-align: center;
}
.contact .container h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  color: #ffffff;
  margin-bottom: 70px;
}
.contact .container form input:not(input[type="submit"]) {
  color: #4f4f4f;
  outline: none;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: transparent transparent #4f4f4f transparent;
  padding: 10px 0;
  font-size: 15px;
}
.contact .container form {
  max-width: 750px;
  margin: auto;
}
.contact .container form input {
  margin-bottom: 40px;
}
.contact .container form input:first-child {
  width: 100%;
}
.contact .container form input:nth-child(2) {
  margin-right: 35px;
}
.contact .container form input:nth-child(2),
.contact .container form input:nth-child(3) {
  width: 47%;
}
@media (max-width: 768px) {
  .contact .container form input:nth-child(2) {
    margin-right: 0px;
  }
  .contact .container form input:nth-child(2),
  .contact .container form input:nth-child(3) {
    width: 100%;
  }
}
.contact .container form input:nth-child(4) {
  width: 100%;
  height: 100px;
  border-color: #4f4f4f #4f4f4f #4f4f4f #4f4f4f !important;
}
.contact .container form input:nth-child(4)::placeholder {
  text-align: center;
}
.contact .container form input[type="submit"] {
  background-color: #27ae60;
  color: white;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;
  border: 2px solid var(--main-color);
}

.contact .container form input[type="submit"]:hover {
  background-color: transparent;
  border: 2px solid white;
  box-shadow: inset 0 0 7px white, 0 0 7px white;
  text-shadow: 0 0 7px white;
}
/* end contact */
/* start footer  */
.footer {
  padding-top: var(--paddding);
  padding-bottom: var(--paddding);
  background-color: rgb(33, 33, 33);
}
.footer .container {
  text-align: center;
}
.footer .container .links a {
  color: var(--main-color);
  padding: 7px 12px;
  font-size: 20px;
  border: 2px solid #4f4f4f;
  border-radius: 50%;
  margin-right: 20px;
  transition-duration: 0.3s;
}
.footer .container .links a:first-child {
  padding: 7px 15px;
}
.footer .container .links {
  margin-bottom: 40px;
}
.footer .container h3 {
  color: white;
}
.footer .container .links a:hover {
  background-color: white;
  border: 2px solid white;
  color: rgb(33, 33, 33);
  box-shadow: 0 0 10px white;
}
/* end footer  */
/* start up  */
.up {
  text-decoration: none;
  position: sticky;
  top: 93%;
  left: 95%;
  background-color: var(--main-color);
  color: white;
  font-size: 23px;
  padding: 7px;
  z-index: 10;
  border-radius: 3px;
}
.up i {
  transition-duration: .3s;
}

.up:hover i{
  transform: scale(1.1) translateY(-3px);
}
.up:hover {
  box-shadow: 0 0 5px white;
}
@media (max-width:768px) {
  .up {
    margin-right: 10px;
  }
}
/* end up  */