/* start variables */
:root {
  --main-color: #ffa97a;
  --back-color: #111a21;
}
/* end variables */

/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
::selection {
  background-color: var(--main-color);
  color: #293241;
}
@font-face {
  font-family: main-font;
  src: url(../fonts/Avenir\ LT\ Std\ 65\ Medium.otf);
}
@font-face {
  font-family: bebasKai;
  src: url(../fonts/BebasKai.otf);
}
body {
  font-family: main-font;
  background-color: #111a21;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
html {
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main-heading {
  color: var(--main-color);
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: bebasKai;
  font-size: 30px;
  width: fit-content;
  margin: auto;
  text-shadow: 0 0 76px var(--main-color);
  padding: 30px 0 0;
}

.main-heading + span {
  width: fit-content;
  margin: 0 auto 80px;
  display: block;
  color: #767676;
  font-size: 15px;
}
.section {
  background-color: var(--back-color);
  z-index: 100;
  position: relative;
  padding: 20px 0 60px;
  overflow: hidden;
}
.divider {
  position: relative;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(48, 49, 51),
    transparent
  );
}

.div-arrow-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid rgb(48, 49, 51);
  border-right: 1px solid rgb(48, 49, 51);
}

.div-tab-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(50% - 10px);
  width: 20px;
  height: 14px;
  background-color: white;
  border-bottom: 1px solid rgb(48, 49, 51);
  border-left: 1px solid rgb(48, 49, 51);
  border-right: 1px solid rgb(48, 49, 51);
  border-radius: 0 0 8px 8px;
}

.div-stopper:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -6px;
  left: calc(50% - 7px);
  width: 14px;
  height: 12px;
  background-color: white;
  border-left: 1px solid rgb(48, 49, 51);
  border-right: 1px solid rgb(48, 49, 51);
}

.div-dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: var(--main-color);
  border: 1px solid rgb(48, 49, 51);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white, 0 0 0 4px white;
}
body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
/* End Global Rules */
/* start landing  */
.landing {
  height: 100vh;
  background-image: url(../images/back.webp);
  background-position: top center;
  position: relative;
  overflow: hidden;

  background-repeat: no-repeat;
}
.animation {
  animation: drop 1s forwards;
  -webkit-animation: drop 1s forwards;
}
@media (max-width: 1015px) {
  .landing {
    background-size: cover !important;
    /* animation: none;
    -webkit-animation: none; */
  }
}
@keyframes drop {
  0% {
    top: -50px;
    background-size: 150%;
    height: 107vh;
  }
  100% {
    top: 0;
    background-size: 100%;
  }
}
.landing .header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  align-items: center;
}
.header {
  position: relative;
  z-index: 15;
}
.header .logo {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
/* start menu */
.header .menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 25px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.header .menu span {
  height: 2px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition-duration: 0.3s;
}
.header .menu span:nth-child(1),
.header .menu span:nth-child(3) {
  width: 50%;
}
.header .menu span:nth-child(3) {
  align-self: flex-end;
}
.header .menu-opened span:nth-child(3) {
  opacity: 0;
}
.header .menu-opened span:nth-child(1) {
  width: 100%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.header .menu-opened span:nth-child(2) {
  transform: rotate(133deg);
  -webkit-transform: rotate(133deg);
  -moz-transform: rotate(133deg);
  -ms-transform: rotate(133deg);
  -o-transform: rotate(133deg);
}
/* end menu */
/* start sections links  */
.header .sections {
  position: absolute;
  z-index: 5;
  top: 73px;
  background-color: #131e24ad;
  backdrop-filter: blur(1px);
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: none;
  animation: increase-height 0.3s forwards;
  -webkit-animation: increase-height 0.3s forwards;
  overflow: hidden;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
@keyframes increase-height {
  0% {
    height: 0px;
  }
  100% {
    height: 163.5px;
  }
}
.header .sections a {
  display: block;
  color: white;
  position: relative;
  transition-duration: 0.3s;
  width: fit-content;
}
.header .sections a:hover {
  text-shadow: 0 0 10px white;
}
.header .sections a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  top: -1px;
  opacity: 0;
  transition-duration: 0.5s;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.header .sections a:hover:before {
  opacity: 1;
  top: 22px;
}

/* end sections links  */
/* start social  */
.header .social {
  display: flex;
  gap: 20px;
}
.header .social i {
  font-size: 20px;
  color: white;
  transition-duration: 0.3s;
}
.header .social .ai-facebook-fill:hover {
  color: #1877f2;
  text-shadow: 0 0 10px #1877f2;
}
.header .social .ai-twitter-fill:hover {
  color: #1da1f2;
  text-shadow: 0 0 10px #1da1f2;
}
.header .social .ai-instagram-fill:hover {
  color: #e1306c;
  text-shadow: 0 0 10px #e1306c;
}
.header .social .ai-whatsapp-fill:hover {
  color: #075e54;
  text-shadow: 0 0 10px #075e54;
}
.header .social .ai-linkedin-fill:hover {
  color: #0077b5;
  text-shadow: 0 0 10px #0077b5;
}
.landing .header .links {
  display: none;
}
.landing .header .links i {
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.landing .header .links i::after {
  content: "";
  position: absolute;
  background-color: #131e24ad;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.landing .header .links .link-closed::after {
  animation: spreadback 0.3s forwards;
  -webkit-animation: spreadback 0.3s forwards;
  transition-duration: 0.3s;
}
@keyframes spreadback {
  0% {
    width: 220px;
    height: 220px;
  }
  100% {
    width: 0px;
    height: 00px;
  }
}
.landing .header .link-opened::after {
  animation: spread 0.3s forwards;
  -webkit-animation: spread 0.3s forwards;
}
@keyframes spread {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 220px;
    height: 220px;
  }
}
.landing .header .links i:hover {
  text-shadow: 0 0 10px white;
}
@media (max-width: 767px) {
  .landing .header .links {
    display: initial;
  }
  .header .social {
    position: absolute;
    right: 29px;
    grid-template-columns: 0.5fr 0.5fr;
    z-index: 2;
    top: 34px;
    display: none;
    animation: opacity 0.4s forwards;
    -webkit-animation: opacity 0.4s forwards;
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .header .social li:nth-child(1) {
    position: relative;
    top: -22px;
    left: -12px;
  }
  .header .social li:nth-child(2) {
    position: relative;
    left: -47px;
    top: 10px;
  }
  .header .social li:nth-child(3) {
    position: relative;
    top: 3px;
    left: 4px;
  }
  .header .social li:nth-child(4) {
    position: relative;
    top: 26px;
    left: -6px;
  }
  .header .social li:nth-child(5) {
    position: relative;
    top: -5px;
    left: 66px;
  }
}
.visible {
  display: grid !important;
}
/* end social  */
/* start main text  */
.landing .main-text {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: white;
  position: fixed;
}
@media (max-width: 567px) {
  .landing .main-text {
    position: absolute;
  }
}
.landing .main-text h1 {
  font-family: bebasKai;
  font-size: 65px;
  letter-spacing: -0.5px;
  font-weight: 100;
  margin: 0 0 5px;
}
/* end main text  */
/* start mountain image  */
.landing .mountain-img img {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.animate-mountain {
  animation: up 1s forwards;
  -webkit-animation: up 1s forwards;
}
@keyframes up {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0px;
  }
}
/* end mountain image  */
.landing .scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: 25px;
  z-index: 11;
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center;
}
.landing .scroll p {
  color: white;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.landing .scroll i {
  font-size: 20px;
  color: white;
}
/* end landing  */
/* start about */

.about .container {
  display: flex;
  gap: 30px;
}
@media (max-width: 767px) {
  .about .container {
    flex-direction: column;
  }
}
.about .container > div {
  flex-basis: 50%;
}
.about .container .image img {
  max-width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 400px;
  height: auto;
  margin: auto;
  display: block;
}
.about .container .text {
  padding: 0 30px;
}
@media (max-width: 767px) {
  .about .container .text {
    padding: 0px;
  }
}
.about .container .text p {
  font-size: 14px;
  line-height: 25px;
  color: #959595;
  letter-spacing: 0.2px;
  display: block;
  margin: auto;
}
.about .container .text .project {
  width: 130px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #182228;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin: 20px auto;
}
.about .container .text .project i {
  color: var(--main-color);
  font-size: 20px;
}
.about .container .text .project span:first-of-type {
  color: white;
  font-size: 14px;
  display: block;
  margin: 10px 0;
}
.about .container .text .project span:last-of-type {
  font-size: 10px;
  color: #959595;
}
.about .container .text > a {
  display: block;
  color: #293241;
  background-color: var(--main-color);
  padding: 10px 15px;
  width: fit-content;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition-duration: 0.3s;
  margin: auto;
}
@media (max-width: 767px) {
  .about .container .text > a {
    margin: auto;
  }
}
.about .container .text > a:hover {
  background-color: #293241;
  color: var(--main-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* end about */
/* start skills */
.skills .container {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .skills .container {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}
.skills .container .box {
  padding: 40px;
  background-color: #192229;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 300px;
}
@media (max-width: 767px) {
  .skills .container .box {
    max-width: 100%;
  }
}
.skills .container .box > h3 {
  color: white;
}
.skills .container .box > span {
  color: #767676;
  font-size: 10px;
  display: block;
  margin-bottom: 15px;
}
.skills .container .box .skill-holder .skill {
  margin-bottom: 15px;
}
.skills .container .box .skill-holder .skill p {
  color: white;
}
.skills .container .box .skill-holder .skill span {
  height: 4px;
  display: block;
  background-color: #866657;
  box-shadow: 0px 0px 5px rgba(255, 169, 122, 0.5);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  margin-top: 5px;
}

.skills .container .box .skill-holder .skill span::before {
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: #ffa97a;
  box-shadow: 0px 0px 5px #ffa97a;
}
.skills .container .box .skill-holder span::before {
  width: 0;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.skills .container .box .skill-holder .html .animate-progress::before {
  width: 80%;
}
.skills .container .box .skill-holder .css .animate-progress::before {
  width: 70%;
}
.skills .container .box .skill-holder .js .animate-progress::before {
  width: 50%;
}
.skills .container .box .skill-holder .figma .animate-progress::before {
  width: 70%;
}
.skills .container .box .skill-holder .sketch .animate-progress::before {
  width: 10%;
}
.skills .container .box .skill-holder .ps .animate-progress::before {
  width: 10%;
}
.skills .container .box .skill-holder .skill span::after {
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 10px;
  color: #767676;
}
.skills .container .box .skill-holder .html span::after {
  content: "80%";
}
.skills .container .box .skill-holder .css span::after {
  content: "70%";
}
.skills .container .box .skill-holder .js span::after {
  content: "50%";
}
.skills .container .box .skill-holder .figma span::after {
  content: "70%";
}
.skills .container .box .skill-holder .sketch span::after {
  content: "10%";
}
.skills .container .box .skill-holder .ps span::after {
  content: "10%";
}
/* end skills */
/* start work  */
.work .tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.work .tabs button {
  padding: 5px 10px;
  color: white;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.work .tabs .active,
.work .tabs button:hover {
  background-color: var(--main-color);
  color: #293241;
}
.work .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}
@media (max-width: 668px) {
  .work .container {
    grid-template-columns: 1fr;
  }
}
.work .container .box {
  background-color: #192229;
  padding: 15px 25px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 4.6px;
}
.work .container .box p {
  color: white;
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
}
.work .container .box a {
  display: block;
  width: fit-content;
  padding: 5px 10px;
  color: white;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 15px;
  opacity: 0;
  z-index: -1;
  transition-duration: 0.3s;
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
.work .container .box:hover {
  box-shadow: rgb(149 157 165 / 20%) 0px 10px 20px;
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
}
.work .container .box:hover a {
  animation: show 0.3s forwards;
  -webkit-animation: show 0.3s forwards;
}
.work .container .box a:hover {
  color: var(--main-color);
  background-color: #293241;
  border-color: #293241;
}
.work .container .box img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 7px;
}
/* end work  */
/* start contact */
.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.contact .container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #192229;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: var(--main-color);
  transition-duration: 0.3s;
}
.contact .container a:hover {
  color: #192229;
  background-color: var(--main-color);

  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
.contact .container i {
  font-size: 20px;
}
/* end contact */
/* start footer  */
.footer {
  background-color: var(--main-color);
  padding: 30px 0;
}
.footer .container {
  text-align: center;
  color: #293241;
}
.footer .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 30px 0;
}
.footer .container ul a {
  font-size: 18px;
  color: #293241;
  position: relative;
  transition-duration: 0.3s;
}
.footer .container ul a:hover {
  text-shadow: 0 0 10px #293241;
}
.footer .container ul a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #293241;
  top: -1px;
  opacity: 0;
  transition-duration: 0.5s;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.footer .container ul a:hover:before {
  opacity: 1;
  top: 22px;
}
/* end footer  */
/* start loader  */
#preloader {
  background: var(--back-color) url(../images/loader.gif) no-repeat center;
  background-size: 5%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
@media (max-width: 768px) {
  #preloader {
    background-size: 20%;
  }
}
/* end loader  */
/* start up */
.up {
  position: fixed;
  bottom: 10px;
  right: -30px;
  color: #293241;
  background-color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  border-radius: 4px;
  font-family: Arial, Tahoma;
  cursor: pointer;
  transition: 0.2s;
  z-index: 200;
}
.up:hover {
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
.up.show {
  right: 10px;
}
/* end up */
